<!--<app-add-comment></app-add-comment>-->

<div>
  <br>
  <main role="main" class="container">
    <div class="row">
      <div class="blog-post">
        <h2 class="blog-post-title">Sample repository post</h2>
        <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
        <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
        <hr>
        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
        <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>
    </div>
  </main>
</div>

<div>
  <br>
  <h1 class="display-5">All Comments</h1>
  <br>
  
  <div class="container" *ngFor="let cmts of comments; let i = index">
    <div class="container">
      <div class="row">
      <!--comment--> 
        <h3  class="col-10">{{cmts.name}}</h3>
        <i class="bi bi-pencil col-1" style="font-size: 20px; color: cornflowerblue;"routerLink="edit/{{cmts._id}}"></i>
        <i class="bi bi-trash col-1" style="font-size: 20px; color: cornflowerblue;" (click)="deleteComment(cmts._id)"></i> 
        <p>{{cmts.comment}}</p>
        <hr/>
        <br>
      </div>
    </div>  
  </div>
  <div class="d-grid gap-2">
    <button type="button" class="btn btn-light" routerLink="add-comment">Add Comment</button>
  </div>
  
  
</div> 
  
