<!--<app-add-comment></app-add-comment>-->

<div class="container">
  <br>
  <main role="main" class="container">
    <div class="row">
      <div class="repo-post">
        <h2 class="repo-post-title">Mock title here</h2>
        <p class="-post-meta">July 1, 2021 by <a href="#">Name of authors</a></p>
        <p>This sample repository post will show how a comments section will help serve as a forum for communities that will take advantage of the repository archive.</p>
        <hr>
        <p>This portion will serve as a description of the content.</p>
        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
        <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>
    </div>
  </main>
</div>
<hr>
<!--mock data ends-->

<!--Comments-->
<br>
<div>
  <h1 class="display-6">All Comments</h1>
  <br>
  <div class="container" *ngFor="let cmts of comments; let i = index">
    <div class="container">
      <div class="row">
        <h3  class="col-10">{{cmts.name}}</h3>
        <i class="bi bi-pencil col-1" style="font-size: 20px; color: cornflowerblue;" routerLink="edit/{{cmts._id}}"></i>
        <i class="bi bi-trash col-1" style="font-size: 20px; color: cornflowerblue;" (click)="deleteComment(cmts._id)"></i> 
        <p>{{cmts.comment}}</p>
        <hr/>
        <br>
      </div>
    </div> 
  </div>

<!--Add comment button-->
  <div class="container">
    <div class="d-grid gap-2">
      <button type="button" class="btn btn-primary" routerLink="add-comment">Add Comment</button>
    </div>
  </div>

</div> 